
.galeria {
    background-color: rgb(56, 49, 54); 
}

.galeria h2 {
    text-align: center;
    padding: 20px 0 10px;
    border-bottom: 1px solid var(--queen-gold);
    margin-bottom: 20px;
    font-size: 50px;
    color: white;
    text-decoration: underline;
}

.galeria .contenido {
    max-width: 1200px;
    margin: 0 auto;
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    padding: 20px 0;
}

.galeria .imagen-galeria {
    flex-shrink: 0;
}

.galeria .imagen-galeria img {
    width: 100%;
    height: 100%;
    object-fit: cover; 
}

.galeria .imagen-galeria:nth-child(1) { 
    flex-basis: calc(75% - 10px); /*otra alternativa es el grid*/ /*    grid-column: span 3; 
                                                                        grid-row: span 3; */
    height: 400px; 
}



.galeria .imagen-galeria:nth-child(2) { 
    flex-basis: calc(25% - 10px);
    height: 400px;
}

.galeria .imagen-galeria:nth-child(3) { 
    flex-basis: calc(25% - 10px);
    height: 600px;
}

.galeria .imagen-galeria:nth-child(4) { 
    flex-basis: calc(75% - 10px);
    height: 600px;
}

.galeria .imagen-galeria:nth-child(5) { 
    flex-basis: calc(75% - 10px);
    height: 400px;
}

.galeria .imagen-galeria:nth-child(6) { 
    flex-basis: calc(25% - 10px);
    height: 400px;
}

.galeria .imagen-galeria:nth-child(7) { 
    flex-basis: calc(25% - 10px);
    height: 600px;
}

.galeria .imagen-galeria:nth-child(8) { 
    flex-basis: calc(75% - 10px);
    height: 600px;
}

.galeria .imagen-galeria:nth-child(9) { 
    flex-basis: calc(75% - 10px);
    height: 400px;
}

.galeria .imagen-galeria:nth-child(10) { 
    flex-basis: calc(25% - 10px);
    height: 400px;
}

.galeria .imagen-galeria:nth-child(11) { 
    flex-basis: calc(25% - 10px);
    height: 600px;
}

.galeria .imagen-galeria:nth-child(12) { 
    flex-basis: calc(75% - 10px);
    height: 600px;
}

.galeria .imagen-galeria:nth-child(13) { 
    flex-basis: calc(75% - 10px);
    height: 400px;
}

.galeria .imagen-galeria:nth-child(14) { 
    flex-basis: calc(25% - 10px);
    height: 400px;
}
