/* Archivo: gira.css — estilos para la sección de giras */
.apartadoGira {
    background-color:rgb(56, 49, 54);
}
.apartadoGira h2{
    text-align: center;
    padding: 20px 0 10px; /* espacio arriba y abajo del título */
    border-bottom: 1px solid var(--queen-gold); /* línea divisoria sutil */
    margin-bottom: 20px; /* separación respecto al contenido */
    font-size: 50px;
    color: white;
    text-decoration: underline; /* acento visual adicional */
}


.apartadoGira section {
    max-width: 900px;
    margin: 0 auto; /* centra horizontalmente */
    padding: 20px; /* espacio interior */
}


.apartadoGira article {
    background-color: #1A1A1A;
    border: 1px solid var(--queen-red);
    padding: 10px;
    margin-bottom: 15px;
    border-radius: 5px;
    display: flex; /* organiza los hijos en línea */
    flex-wrap: wrap; /* permite que los elementos se envuelvan en pantallas pequeñas */
    justify-content: space-between; /* separa elementos a los extremos cuando cabe */
    color: white; /* color de texto dentro de cada fila */
}

.apartadoGira article h3 {
    color: var(--queen-gold);
    font-size: 1.2em;
    margin: 0;
    flex-basis: 100%; /* Ocupa todo el ancho en la línea superior */
    padding-bottom: 5px;
    margin-bottom: 5px;
    border-bottom: 1px dotted #444; /* separación visual */
}


.apartadoGira article p {
    margin: 3px 10px 3px 0;
    font-size: 0.95em;
    flex-basis: auto; /* se adapta al contenido y al espacio disponible */
}

.apartadoGira article p:first-of-type {
    font-weight: bold;
    color: white;
}
