.gira-completa {
    background-color: rgb(56, 49, 54);
}

.gira-completa h2 {
    text-align: center;
    padding: 20px 0 10px;
    margin-bottom: 20px;
    font-size: 50px;
    color: white;
    text-decoration: underline;
}

.gira-completa img.gira-completa {
    display: block;
    margin: 0 auto 50px auto;
    max-width: 90%; 
    height: auto;
    border: 5px solid white; 
    box-shadow: 0 15px 30px rgba(0, 0, 0, 0.8);
    transition: transform 0.4s ease-in-out, box-shadow 0.4s ease-in-out, opacity 0.4s ease;
    opacity: 0.9;
    transform: scale(0.98);
}

.gira-completa img.gira-completa:hover {
    transform: scale(1.0); 
    opacity: 1;
    box-shadow: 0 15px 40px rgba(255, 255, 255, 0.9);
}