.apartadoGira {
    background-color:rgb(56, 49, 54);
}
.apartadoGira h2{
    text-align: center;
    padding: 20px 0 10px;
    border-bottom: 1px solid var(--queen-gold);
    margin-bottom: 20px;
    font-size: 50px;
    color: white;
    text-decoration: underline;
}


.apartadoGira section {
    max-width: 900px;
    margin: 0 auto;
    padding: 20px;
}


.apartadoGira article {
    background-color: #1A1A1A;
    border: 1px solid var(--queen-red);
    padding: 10px;
    margin-bottom: 15px;
    border-radius: 5px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    color: white;
}

.apartadoGira article h3 {
    color: var(--queen-gold);
    font-size: 1.2em;
    margin: 0;
    flex-basis: 100%;
    padding-bottom: 5px;
    margin-bottom: 5px;
    border-bottom: 1px dotted #444;
}


.apartadoGira article p {
    margin: 3px 10px 3px 0;
    font-size: 0.95em;
    flex-basis: auto;
}

.apartadoGira article p:first-of-type {
    font-weight: bold;
    color: white;
}
