*
{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, sans-serif;
}
header 
{
    background-color: #090909;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 20px 60px;
    position: relative;
}

header h1 
{
    font-family: 'Bitcount Grid Double', monospace;
    font-size: 100px;
    margin: 0;
    color:white;
}
header img 
{
    width: 100px;
    height: 100px;
    margin-top: 10px;
}
header p {
    background-color: #f988f9;
    text-align: center;
    margin: 0;
    font-size: 1.2em;
}

header a {
    position: absolute;
    left: 60px;
}

nav
{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #3c133c;
}

.MenuNivel1
{
    display: flex;
    align-items: center;
    width: 100%;
}

.MenuNivel1 li
{
    list-style: none;
    cursor: pointer;
    padding: 5px;
    flex: 1;
    text-align: center;
    transition: .3s ease;
}
.MenuNivel1 li > a
{
    text-decoration: none;
    color: white;
    font-style: bold;
    display: block;
}
.MenuNivel1 li:hover 
{
    display: flex;
    flex-direction: column;
    background-color: rgb(0, 0, 0);
}

.MenuNivel1 li.activo,
.MenuNivel1 li.tienda
{
    background-color: #3c133c;
}

.giras, .tienda
{
    position: relative;
}
.giras:hover > .MenuNivel2,
.tienda:hover > .MenuNivel2
{
    display: block;
}



.MenuNivel2
{
    display: none;
    position: absolute;
    top: 100%;
    left: 0;
    color: white;
    width: 100%;
}
.MenuNivel2 > li
{
    width: 100%;
    transition: all 0.2s ease;
    text-align: center;
    background-color: #54144b;
    padding: 5px 0;
}


.index
{ 
    background-color: rgb(56, 49, 54);
    padding-bottom: 85px;
}

.index section
{
    display: flex;
    column-gap: 80px;
    justify-content: center;
}

.index div p
{
    margin-left: 10px;
    margin-right: 10px;
    
}


.index div div {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 20px;
    border-top: solid 10px rgb(0, 0, 0);
    border-right: dottd 1px black;
    border-left: dotted 1px black;
    border-bottom: dotted 1px black;
    border-radius: 10px;
    width: 200px;
    height: auto;
    margin-left: auto;
    margin-right: auto;
}

.index div video 
{
    border-radius: 5%;
    margin-top: 10px;
    width: 380px;
    height: auto;
}

.index h2 {
    text-align: center;
    font-size: 50px;
    color: white;
    margin-top: 30px;
    padding-bottom: 30px;
    text-decoration: underline;
}


.index .categorianoticias > div, .categoriafechasdegira > div, .categoriacakepop > div 
{
    background-color: white;
    width: 400px;
    text-align: center;
    border-radius: 5%;
    padding-bottom: 20px;
    transition: transform 0.3s ease-in-out,
                box-shadow 0.3s ease-in-out;
}

.index .categorianoticias > div:hover, .categoriafechasdegira > div:hover, .categoriacakepop > div:hover {
    transform: scale(1.05);
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.2);
}


.index .categorianoticias img, .categoriafechasdegira img, .categoriacakepop img {
    width: 380px;
    height: 380px;
    margin-top: 10px;
    border-radius: 5%;
    transition: transform 0.3s ease-in-out;
    object-fit: cover;
}

.index .categorianoticias > div:hover img, .categoriafechasdegira > div:hover img, .categoriacakepop > div:hover img {
    transform: scale(1.02);
}

body {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    margin: 0;
    padding-bottom: 95px;
    box-sizing: border-box;
}

footer {
    background-color: #000000;
    width: 100%;
    position: fixed;
    bottom: 0;
    left: 0;
    display: flex;
    flex-direction: row;
    height: 75px;
    justify-content: space-between;
    padding-left: 10%;
    padding-right: 10%;
    box-sizing: border-box;
    z-index: 1000;
}

footer > a {
    position: relative;
    text-decoration: none;
    color: white;
    align-self: center;
}
