*

{
    margin: 0;
    padding: 0;
    box-sizing: border-box; /* Se agrega para un mejor control del tama침o de los elementos */
}

header 
{
    background-color: #090909;
    display: flex;
    align-items: center;
    justify-content: center; /* centra horizontalmente todo el contenido */
    padding: 20px 60px;
    position: relative; /* necesario para posicionar el logo */
}

header h1 
{
    font-family: 'Bitcount Grid Double', monospace;
    font-size: 100px;
    margin: 0;
    color:white;
}


header img
{
    width: 100px; 
    height: 100px;

}


header a {
    position: absolute;
    left: 60px; /* mismo padding que el header */
}


body
{
    background-color: rgb(72, 72, 72);
    padding-bottom: 85px;
}



div img 
{
    width: 380px;
    margin-top: 10px;
    border-radius: 5%;
}

div h3 
{
    font-size: 30px;
    color: rgb(0, 0, 0);
    margin-top: 10px;
    margin-bottom: 10px;
}

section
{
    display: flex;
    column-gap: 80px;
    justify-content: center;
}

div p
{
    margin-left: 10px;
    margin-right: 10px;
    
}

div div
{ 
    margin-top: 20px;
    display: black;
    border-top: solid 10px black;
    border-right: dotted 1px black;
    border-left: dotted 1px black;
    border-bottom: dotted 1px black;
    border-radius: 10px;
    width: 200px; /*Ancho del recuadro*/
    height: auto; 
    margin-left: auto; /*Margen de texto izquierda*/
    margin-right: auto; 
    margin-top: 20px;
}

h2 
{
    text-align: center; /*Centrar el texto*/
    font-size: 50px; /*Tama침o de la letra*/
    color: rgb(0, 0, 0); 
    position: relative; /*Posici칩n relativa*/
    left: auto; /*Izquierda autom치tica*/
    padding-bottom: 30px; /*Espacio inferior*/
    margin-top: 30px; /*Margen superior*/
}

footer
{
    background-color: #000000; 
    width: 100%;
    text-align: center;
    height: 60px;
    margin-top: 5px;
    position: fixed;
    bottom: 0px;
}

footer a
{
    display:  inline-block;
    margin-left:  5%;
    margin-top: 20px;
    position: relative;
    text-decoration: none;
    color: rgb(255, 255, 255);
}


.categorianoticias > div, .categoriacupcakes > div, .categoriacakepop > div 
{
    background-color: white;
    width: 400px;
    text-align: center;
    border-radius: 5%;
    padding-bottom: 20px;
    transition: transform 0.3s ease-in-out, box-shadow 0.3s ease-in-out;
}

.categorianoticias > div:hover, .categoriacupcakes > div:hover, .categoriacakepop > div:hover {
    transform: scale(1.05); 
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.2); 
}


.categorianoticias img, .categoriacupcakes img, .categoriacakepop img {
    width: 380px;
    margin-top: 10px;
    border-radius: 5%;
    transition: transform 0.3s ease-in-out;
    
}

.categorianoticias > div:hover img, .categoriacupcakes > div:hover img, .categoriacakepop > div:hover img {
    transform: scale(1.02); }
