*
{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, sans-serif;
}


header 
{
    background-color: #090909;
    display: flex;
    align-items: center;
    justify-content: center; /* centra horizontalmente todo el contenido */
    padding: 20px 60px;
    position: relative; /* necesario para posicionar el logo */
}



header h1 
{
    font-family: 'Bitcount Grid Double', monospace;
    font-size: 100px;
    margin: 0;
    color:white;
}
header img 
{
    width: 100px;
    height: 100px;
    margin-top: 10px; /* Ajusta el margen superior según sea necesario */
}
header p {
    background-color: #f988f9;
    text-align: center;
    margin: 0;
    font-size: 1.2em;
}

header a {
    position: absolute;
    left: 60px; /* mismo padding que el header */
}
nav
{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #3c133c;
}

.MenuNivel1
{
    display: flex;
    align-items: center;
    width: 100%;
}

.MenuNivel1 li
{
    list-style: none;
    cursor: pointer;
    padding: 5px;
    flex:1;
    text-align: center;
    transition: .3s ease;
}
.MenuNivel1 li > a
{
    text-decoration: none;
    color: white;
    font-style: bold;
    display: block;
}
.MenuNivel1 li:hover 
{
    display: flex;
    flex-direction: column;
    background-color: rgb(0, 0, 0);
}

.giras
{
    position: relative;
}
.giras:hover > .MenuNivel2

{
    display: block;
}

.MenuNivel2
{
    display: none;
    position: absolute;
    margin-top: 1.5vw;
    color: white;

}
.MenuNivel2 > li
{
    width: auto;
    transition: translatex(-20px);
    border-bottom: solid 1px #FFF;
    text-align: center;
    background-color: #54144b;

}


.index
{ 
    background-color: rgb(56, 49, 54);
    padding-bottom: 85px;
}

.index section
{
    display: flex;
    column-gap: 80px;
    justify-content: center;
}

.index div p
{
    margin-left: 10px;
    margin-right: 10px;
    
}


.index div div {
    display: flex;
    flex-direction: column; /* Coloca el precio y el enlace en una columna */
    align-items: center; /* Centra los elementos de la columna */
    margin-top: 20px;
    border-top: solid 10px rgb(0, 0, 0);
    border-right: dottd 1px black;
    border-left: dotted 1px black;
    border-bottom: dotted 1px black;
    border-radius: 10px;
    width: 200px;
    height: auto;
    margin-left: auto;
    margin-right: auto;
}

.index div video 
{
    border-radius: 5%;
    margin-top: 10px;
    width: 380px;
    height: auto;
}

.index h2 {
    text-align: center;
    font-size: 50px;
    color: white;
    margin-top: 30px; /* Margen superior */
    padding-bottom: 30px; /* Espacio debajo del título */
    text-decoration: underline;
}



.index .categorianoticias > div, .categoriafechasdegira > div, .categoriacakepop > div 
{
    background-color: white;
    width: 400px;
    text-align: center;
    border-radius: 5%;
    padding-bottom: 20px;
    transition: transform 0.3s ease-in-out, box-shadow 0.3s ease-in-out;
}

.index .categorianoticias > div:hover, .categoriafechasdegira > div:hover, .categoriacakepop > div:hover {
    transform: scale(1.05); 
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.2); 
}


.index .categorianoticias img, .categoriafechasdegira img, .categoriacakepop img {
    width: 380px;
    height: 380px;
    margin-top: 10px;
    border-radius: 5%;
    transition: transform 0.3s ease-in-out;
    object-fit: cover; /* Asegura que la imagen cubra el área sin distorsionarse */
    
}

.index .categorianoticias > div:hover img, .categoriafechasdegira > div:hover img, .categoriacakepop > div:hover img {
    transform: scale(1.02); }



.index footer 
{
    background-color: #000000;
    width: 100%;
    position: fixed;
    bottom: 0px;
    display: flex;
    flex-direction: row;
    height: 75px;
    justify-content: space-between;
    padding-left: 10%;
    padding-right: 10%;
    box-sizing: border-box;
}

.index footer > a
{
    position: relative;
    text-decoration: none;
    color: white;
    align-self: center;

}




@media (max-width: 1250px) {
    /* Ajusta el espaciado y el tamaño del contenido general */
    section {
        column-gap: 30px; /* Reduce el espacio entre las tarjetas */
    }

    .categorianoticias > div, .categoriafechasdegira > div, .categoriacakepop > div {
        width: 300px; /* Reduce el ancho de las tarjetas de contenido */
    }

    .categorianoticias img, .categoriafechasdegira img, .categoriacakepop img {
        width: 280px; /* Reduce el ancho de las imágenes dentro de las tarjetas */
    }
}
@media (max-width: 768px) {
    /* 1. Menú de Navegación */
    /* Lo esencial es reducir el tamaño del texto y el padding para que quepa */
    .MenuNivel1 li > a {
        font-size: 0.85em; /* Reduce el tamaño de la fuente del menú */
    }
    
    .MenuNivel1 li {
        padding: 5px 0; /* Ajusta el relleno vertical para que no se vea tan apretado */
    }

    /* 2. Encabezado */
    header {
        flex-direction: column; /* Apila el logo y el título */
        padding: 20px;
    }
    
    header h1 {
        font-size: 50px; /* Reduce el tamaño del título "Queen" */
        text-align: center;
    }

    header a {
        position: static; /* Quita el posicionamiento absoluto del logo */
        margin-bottom: 10px;
    }

    /* 3. Contenedores de Noticias/Giras/Merchandising */
    /* Este es el cambio más importante para que no se corten los lados */
    section {
        flex-direction: column; /* Apila las tarjetas verticalmente */
        align-items: center; /* Centra las tarjetas apiladas */
        gap: 30px; /* Añade un espacio entre las tarjetas apiladas */
    }

    .categorianoticias > div, .categoriafechasdegira > div, .categoriacakepop > div {
        width: 90%; /* Hace que las tarjetas ocupen un 90% del ancho de la pantalla */
        max-width: 400px; /* Mantiene un límite de ancho para pantallas más grandes */
    }

    .categorianoticias img, .categoriafechasdegira img, .categoriacakepop img {
        width: 95%; /* Las imágenes ocupan casi todo el ancho de su tarjeta */
    }
    
    /* 4. Títulos de Sección */
    h2 {
        font-size: 35px; /* Reduce el tamaño de los títulos (Ultimas Noticias, etc.) */
    }
    
    /* 5. Pie de Página (Footer) */

}